/* RESET STYLES */

html{
    box-sizing: border-box;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

html,
body{
    height: 100%;
}

body{
    background-color: #141414;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    max-width: 1326px;
    padding: 0 15px;
    margin: 0 auto;
}

/* DEFAULT ITEMS */

.between-box{
    width: 147px;
    height: 14px;
    justify-content: space-between;
    display: flex;
    margin: 6px auto 40px;
}

.between-box>span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #DB3138;
    transform: rotate(-45deg);
}

/* HEADER */

.header{
    height: 100vh;
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__inner{
    padding-top: 40px;
}

.header__nav>.container{
    display: flex;
    justify-content: space-between;
}

.header__list-item + .header__list-item{
    margin-left: 40px;
}

.header__list-item,
.header__list-btn{
    display: inline-block;
    font-family: 'Reforma Grotesk Medium';
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}

.burgerMenu__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burgerMenu__span{
    width: 40px;
    height: 3px;
    background: #DB3138;
    display: block;
    margin-top: 8px;
    margin-left: 10px;
}

.burgerMenu__span--1{
    margin-top: 0;
}

.burgerMenu__span--2{
    margin-right: 10px;
    margin-left: 0;
}

.header__title{
    margin-top: 18vh;
    font-family: 'Reforma Grotesk Bold';
    color: #DB3138;
    font-size: 150px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
} 

.header__text{
    margin: 0 auto;
    max-width: 437px;
    font-family: 'Reforma Grotesk Medium';
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.header__link{
    display: block;
    margin: 40px auto 0;
    padding: 15px 25px;
    max-width: 170px;
    font-family: 'Reforma Grotesk Demi';
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, #DB3138 65%, transparent 50%);
}

.header__contacts{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 84px;
    max-width: 1920px;
}

.header__contact{
    border: 1px solid #898989;
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 5vh 0;
    bottom: 0;
}

.header__contact--custom{
    border-right: none;
    border-left: none;
}

.header__contact-title{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.header__contact-text{
    font-size: 24px;
    max-width: 265px;
    color: #DB3138;
    margin: 0 auto;
    margin-top: 15px;
} 

.header__title-service{
    font-weight: 700;
    font-size: 64px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: #DB3138;
    margin-bottom: 27px;
}

.header__link-service{
    background: linear-gradient(to right, #DB3138 57%, transparent 50%);
    max-width: 84px;
    margin-top: 107px;
}

    

/* FOOTER */

.footer__form-box{
    padding: 120px 0 100px;
}

.footer__form{
    max-width: 640px;
    margin: 0 auto;
    padding-top: 20px;
}

.form__inputs,
.form__textarea-box,
.form__contacts-box{
    display: flex;
    justify-content: space-between;
}

.form__title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.footer__bottom{
    border-top: 1px solid #898989;
    padding: 30px 0;
}

.footer__bottom>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer__list-item +  .footer__list-item{
    margin-left: 40px;
}

.footer__list-item,
.footer__list-btn{
    font-family: 'Reforma Grotesk Medium';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: inline-block;
}

/* FOOTER FORM */

.form__input,
.form__textarea{
    font-family: 'Reforma Grotesk Demi';
    padding: 15px 25px;
    background: #141414;
    border: 1px solid #898989;
    width: 306px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.07em;
}

.form__textarea{
    width: 526px;
    height: 150px;
    margin-top: 25px;
    resize: none;
}

.form__input::placeholder,
.form__textarea::placeholder{
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #898989;
}

.form__links{
    max-width: 40px;
    margin-top: 25px;
}

.form__link{
    display: block;
    margin-bottom: 15px;
}

.form__link-img{
    display: block;
}

.form__submit{
    font-family: 'Reforma Grotesk Demi';
    padding: 15px 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(to right, #DB3138 50%, transparent 50%);
    border: none;
    margin-top: 10px;
}

.form__contacts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: end;
}

.form__contact-text + .form__contact-text{
    margin-left: 30px;
}

.form__contact-img{
    margin-right: 10px;
}

.form__smallContact{
    display: flex;
    justify-content: space-between;
}

.form__contact-text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

/* WORKS */

.works__inner{
    padding-top: 180px;
    max-width: 1903px;
    margin: 0 auto;
}

.works__title{
    font-family: 'Reforma Grotesk Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 36px;
}

.works__content{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
}

.works__img{
    display: block;
    width: 317.2px;
    height: 277.2px;
}

/* ACHIVMENT */

.achivment{
    padding-top: 180px;
}

.achivment>.container{
    display: flex;
    justify-content: space-between;
}

.achivment__textBox>.between-box{
    margin: 40px 0 60px;
}

.achivment__textBox{
    max-width: 636px;
}

.achivment__title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.achivment__text{
    max-width: 526px;
    font-family: 'Reforma Grotesk Medium';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.achivment__scores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.achivment__scores--2{
    margin-top: 40px;
}

.achivment__score{
    border: 1px solid #898989;
    padding: 25px 20px 35px;
    width: 318px;
    height: 177px;
}

.achivment__score-title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
}

.achivment__score-title>span{
    font-size: 24px;
}

.achivment__score-img{
    margin: 0 auto;
    margin-bottom: 22px;
    display: block;
}

.achivment__score-text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* WORKSLIDER */

:root {
    --swiper-theme-color: transparent;
}

.swiper-button-next{
    background: url(../images/next-btn.svg);
    width: 71px;
    height: 71px;
    position: unset;
    float: right;
    margin-right: -131px;
    margin-top: -280px;
}

.swiper-button-prev{
    background: url(../images/pref-btn.svg);
    width: 71px;
    height: 71px;
    position: unset;
    float: left;
    margin-left: -131px;
    margin-top: -280px;
}

.slide__img{
    width: 416px;
    height: 350px;
    display: block;
}

.slide__text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30px 40px;
    max-width: 286px;
    margin: 0 auto;
    margin-top: -35px;
    position: relative;
    background: linear-gradient(to bottom, #DB3138 50%, transparent 50%);
}

.workSlider{
    padding-top: 150px;
}

.slider{
    padding: 0 131px;
}

.workSlider>.container{
    max-width: 1588px;
}

/* ADVANTAGES */

.advantages__inner{
    display: flex;
    justify-content: space-between;
}

.advantages{
    padding-top: 180px;
}

.advantages__textBlock{
    max-width: 526px;

}

.advantages__textBlock-img{
    display: inline-block;
}

.advantages__textBlock-title{
    display: inline-block;
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
    align-items: center;
    position: relative;
    top: -17px;
}

.advantages__textBlock-text{
    font-family: 'Reforma Grotesk Medium';
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 30px;
}

.advantages__textBlock>.between-box{
    margin-top: 40px;
    margin-bottom: 40px;
}

.advantages__swiperBlock{
    height: 674px;
    width: 636px;
}

.advantages__swiperBlock-text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 422px;
    display: inline-block;
    margin: 0 32px;
    position: relative;
    top: -15px;
}

.advantages__swiperBlock-prev,
.advantages__swiperBlock-next{
    display: inline-block;
    width: 71px;
    height: 71px;
    margin-top: 40px;
}

/* SERVICES */

.services{
    padding-top: 180px;
}

.services__title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.services__btnBlock{
    width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 80px;
}

.services__btn{
    font-family: 'Reforma Grotesk Demi';
    padding: 15px 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;  
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border:  none;
}

.services__cardBlock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services__card-img{
    display: block;
    margin: 0 auto;
}

.services__card + .services__card{
    margin-left: 24px;
}

.services__card{
    border: 1px solid #898989;
    padding: 80px 40px 50px;
}

.services__card-title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

.services__card-text{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

.services__card-link{
    padding: 10px 20px;
    background: linear-gradient(to right, #DB3138 50%, transparent 50%);
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 113px;
}


/* PRICE */

.price{
    padding-top: 180px;
}

.price__title{
    font-family: 'Reforma Grotesk Demi';
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.price-box{
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
}

.price-box__title + .price-box__title{
    margin-left: 24px;
}

.price-box__title{
    font-family: 'Reforma Grotesk Demi';    
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    width: 236px;
    padding: 30px 0;
}

.price>.container>.between-box{
    margin-bottom: 60px;
}

.price-box__price{
    border-top: 1px solid #898989;
    padding: 25px 0;
    height: 117px;
}

.price-box__price-text + .price-box__price-text{
    margin-left: 24px;
}

.price-box__price-text{
    font-family: 'Reforma Grotesk Demi';
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    width: 236px;
    position: relative;
    top: -18px;
}

.price-box__price-text-custom{
    color: #DB3138;
    opacity: 1;
    position: unset;
}

/* ADVENGES SECOND */

.advantages__sponsors{
    width: 420px;
    height: 166px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 60px;
    margin-top: 60px;
}

.advantages__sponsors-img + .advantages__sponsors-img,
.advantages__sponsors-img--2 + .advantages__sponsors-img--2{
    margin-left: 100px;
}

.advantages__sponsors-img,
.advantages__sponsors-img--2{
    display: block;
    position: relative;
}

/* BURGER MENU */

#burgerMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    transition: all .5s linear;
    transform: translatex(100%);
    background-color: #141414;
}
  
#burgerMenu.--show {
    transform: translatex(0%);
}

.burgerMenu__btn-hide{
    position: relative;
    display: block;
    margin-left: 107px;
    top: 50px;
}

.burgerMenu__btn-hide>span{
    width: 40px;
    height: 3px;
    background: #DB3138;
    display: block;
    margin-top: 8px;
    margin-left: 10px;
    position: relative;
}

.burgerMenu__btn-hide--1{
    transform: rotate(45deg);
    top: 31px;
}

.burgerMenu__btn-hide--2{
    transform: rotate(-45deg);
    top: 20px;
}

#burgerMenu>.container{
    width: 300px;
}

.burger-btn,
.burger-link{
    display: inline-block;
    font-family: 'Reforma Grotesk Medium';
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    width: 100%;
    text-align: center;
}

.burger-link{
    margin-top: 180px;
}

.burger-btn{
    margin-top: 30px;
}

/* ADVANTAGES SWIPER */

.advantages__swiper-button-next_1,
.advantages__swiper-button-next_2{
    background: url(../images/next-btn.svg);
    width: 71px;
    height: 71px;
    position: relative;
    z-index: 15;
    float: right;  
    margin-top: -105px;
}

.advantages__swiper-button-prev_1,
.advantages__swiper-button-prev_2{
    background: url(../images/pref-btn.svg);
    width: 71px;
    height: 71px;
    position: relative;
    z-index: 15;
    float: left;
    margin-top: -105px;
}

.advantages__inner>.swiper{
    margin: 0;
}

.advantages__swiperBlock-text{
    position: relative;
    margin: 0 110px;
    margin-top: 40px;
}

.advantages__inner>.slider{
    padding: 0;
}

.--opacity-btn{
    cursor: default;
    opacity: 0.4;
}

/* MEDIA */

@media (max-width: 1300px){
    .achivment__textBox{
        margin: 0 auto;
    }
    .achivment>.container{
        display: block;
    }
    .achivment__scores{
        display: flex;
        margin: 0 auto;
        max-width: 636px;
        margin-top: 40px;
    }
    .services__cardBlock{
        grid-template-columns: repeat(2, 1fr);
    }
    .services__card + .services__card{
        margin-left: 0;
    }
    .services__card{
        padding: 30px 20px;
    }
}

@media (max-width: 1220px){
    .advantages__inner{
        display: block;
    }
    .advantages__textBlock{
        margin: 0 auto;
    }
    .slider{
        max-width: 636px;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media (max-width: 1190px){
    .footer__bottom>.container{
        display: block;
    }
    .footer__text{
        max-width: 590px;
        margin: 0 auto;
    }
    .footer__list{
        max-width: 535px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 900px){
    .header__contacts{
        grid-template-columns: repeat(1, 1fr);
    }
    .header__contact{
        border-left: none;
        border-right: none;
    }
    .header__contact{
        border-bottom: none;
    }
    .achivment{
        padding-top: 400px;
    }
}

@media (max-width: 700px){
    .slider>.swiper,
    .slider{
        max-width: 500px;
    }
    .achivment__title{
        font-size: 40px;
        max-width: 465px;
    }
    .achivment__textBox{
        max-width: 526px;
    }
    .achivment__score{
        padding: 20px 15px;    
        max-width: 250px; 
    }
    .achivment__score-text{
        font-size: 14px;
    }
    .achivment__scores{
        max-width: 500px;
    }
    .advantages__swiperBlock-img{
        width: 500px;
        height: 415px;
        margin: 0 auto;
        display: block;
    }
    .advantages__swiper-button-prev_1,
    .advantages__swiper-button-prev_2,
    .advantages__swiper-button-next_1,
    .advantages__swiper-button-next_2{
        margin-top: -245px;
    }
    .advantages__swiperBlock-text{
        font-size: 16px;
    }
}

@media (max-width: 680px){
    .header__list{
        display: none;
    }
    .burgerMenu__btn{
        margin: 0 auto;
    }
}

@media (max-width: 650px){
    .form__input + .form__input{
        margin-top: 20px;
    }
    .form__inputs{
        display: block;
        max-width: 306px;
        margin: 0 auto;
    }
    .form__textarea-box{
        display: block;
    }
    .form__textarea{
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }
    .footer__text{
        max-width: 380px;
        text-align: center;
    }
    .footer__list-item + .footer__list-item{
        margin: 0;
    }
    .footer__list-item + .footer__list-item + .footer__list-item{
        margin-top: 10px;
    }
    .footer__list-item,
    .footer__list-btn{
        text-align: center;
        margin: 0;
    }
    .footer__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .form__links{
        display: flex;
        max-width: 150px;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 20px;
    }
    .form__link{
        margin-bottom: 20px;
    }
    .form__contacts-box{
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
    .form__submit{
        margin: 0 auto;
        max-width: 144px;
        display: block;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .form__title{
        font-size: 40px;
    }
    .services__cardBlock{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 580px){
    .advantages__textBlock{
        max-width: 450px;
    }
    .advantages__textBlock-title{
        font-size: 26px;
    }
    .advantages__textBlock-text{
        font-size: 20px;
    }
}

@media (max-width: 560px){
    .achivment__text{
        font-size: 20px;
        max-width: 450px;
    }
    .achivment__title{
        font-size: 35px;
    }
    .achivment__textBox>.between-box{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .achivment__textBox{
        max-width: 450px;
    }
    .achivment__score{
        max-width: 180px;
    }
    .achivment__score-text{
        max-width: 150px;
    }
    .achivment__scores{
        max-width: 360px;
    }
    .header__title{
        font-size: 120px;
    }
}

@media (max-width: 550px){
    .advantages__swiperBlock-img{
        width: 400px;
        height: 315px;
    }
    .slider,
    .slider>.swiper{
        max-width: 400px;
    }
    .advantages__swiperBlock-text{
        font-size: 14px;
    }
    .advantages__swiper-button-prev_1,
    .advantages__swiper-button-prev_2,
    .advantages__swiper-button-next_1,
    .advantages__swiper-button-next_2{
        margin-top: -335px;
    }
    #advantages2>.container>.advantages__inner>.slider{
        max-height: 450px;
    }
    #advantages2>.container>.advantages__inner>.advantages__textBlock{
        margin-top: 30px;
    }
    #advantages1>.container>.advantages__inner>.slider{
        max-height: 450px;
    }
    .services{
        padding-top: 0;
    }
}

@media (max-width: 500px){
    .services__btnBlock{
        display: block;
        max-width: 80%;
    }
    .services__btn{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .services__btn + .services__btn{
        margin-top: 20px;
        padding: 15px 20px;
    }
}

@media (max-width: 480px){
    .advantages__textBlock-title{
        display: block;
        top: 0;
        margin-left: 0;
    }
}

@media (max-width: 460px){
    .header__text{
        font-size: 32px;
        max-width: 350px;
    }
    .header__title{
        font-size: 100px;
    }
}

@media (max-width: 450px){
    .form__title{
        margin-bottom: 24px;
    }
    .footer__form-box>.container>.between-box{
        margin-bottom: 20px;
    }
    .form__textarea{
        max-width: 306px;
        max-height: 300px;
    }
    .advantages__swiperBlock-img{
        width: 350px;
        height: 265px;
    }
    .slider,
    .slider>.swiper{
        max-width: 350px;
    }
    .advantages__swiperBlock-text{
        font-size: 12px;
        width: 200px;
        margin: 0;
        margin-top: 40px;
        margin-left: 75px;
    }
    .advantages__swiper-button-prev_1,
    .advantages__swiper-button-prev_2,
    .advantages__swiper-button-next_1,
    .advantages__swiper-button-next_2{
        margin-top: -395px;
    }
}

@media (max-width: 410px){
    .achivment__title{
        font-size: 25px;
    }
    .achivment__text{
        font-size: 16px;
    }
    .achivment__textBox{
        max-width: 300px;
    }
    .achivment__scores{
        max-width: 300px;
    }
    .achivment__score{
        max-width: 150px;
    }
    .achivment__score-text{
        font-size: 12px;
    }
}

@media (max-width: 400px){
    .advantages__swiperBlock-img{
        width: 310px;
        height: 235px;
    }
    .slider,
    .slider>.swiper{
        max-width: 310px;
    }
    .advantages__swiperBlock-text{
        font-size: 12px;
        width: 200px;
        margin: 0;
        margin-top: 40px;
        margin-left: 57px;
    }
    .advantages__swiper-button-prev_1,
    .advantages__swiper-button-prev_2,
    .advantages__swiper-button-next_1,
    .advantages__swiper-button-next_2{
        margin-top: -410px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #advantages1>.container>.advantages__inner>.slider{
        max-height: 350px;
    }
    #advantages2>.container>.advantages__inner>.advantages__textBlock{
        margin-top: 0;
    }
    #advantages2>.container>.advantages__inner>.slider{
        max-height: 350px;
    }
}

@media (max-width: 370px){
    .header__contacts{
        display: none;
    }
    .achivment{
        padding-top: 0;
    }
}
